<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      /* Reset de estilos */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      /* Estilo do contêiner */
      .container {
          max-width: 600px;
          margin: 0 auto;
      }

      /* Estilo do cabeçalho */
      header {
          text-align: center;
          margin-bottom: 20px;
      }

      /* Estilo do formulário de contato */
      form {
          background-color: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
          display: block;
          margin-bottom: 10px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #ccc;
          border-radius: 4px;
      }

      input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }

      input[type="submit"]:hover {
          background-color: #0056b3;
      }
  </style>
</head>
<body>
  <%= form_with(model: tarefa) do |form| %>
    <% if tarefa.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h2>

        <ul>
          <% tarefa.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :nome, style: "display: block" %>
      <%= form.text_field :nome %>
    </div>

    <div>
      <%= form.label :descrição, style: "display: block" %>
      <%= form.text_field :descrição %>
    </div>

    <div>
      <%= form.label :data, style: "display: block" %>
      <%= form.date_field :data %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</body>
</html>



